@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="centered flex form-container">
        <div>
            <div>
                <h2>Nickname:</h2>
                @{
                    string nick = "";
                    if (Model != null)
                    {
                        nick = Model["Nickname"];
                    }
                }
                @Html.TextBox("Nickname", nick, new { @class = "input_field" })
            </div>

            <div >
                <h2>Password:</h2>
                @Html.Password("Password", null, new { @class = "input_field" })
            </div>

            <div >
                <h2>Confirm password:</h2>
                @Html.Password("ConfirmPassword", null, new { @class = "input_field" })
            </div>
        </div>
        <div class="validation-errors">
            @Html.ValidationSummary()
        </div>
    </div>
    <div class="buttons centered">
        <input type="submit" value="Registation" />
    </div>
}