<div class="centered flex header">
    <div class="flex_item">@Html.ActionLink("List", "List", "Home")</div>
    <div class="flex_item">@Html.ActionLink("Dynamic bind", "Dynamic", "Test", new { area = "Test" }, null)</div>
    <div class="flex_item">@Html.ActionLink("Static bind", "Static", "Test", new { area = "Test" }, null)</div>
    <div class="flex_item">@Html.ActionLink("Home page", "Index", "Home")</div>
    <div class="flex_item">@Html.ActionLink("Info", "About", "Home")</div>
    <div class="flex_item">@Html.ActionLink("Contact me", "Contact", "Home")</div>
</div>

