<div class="centered header">
    <div class="flex_item">@Html.ActionLink("Create room", "CreateRoom", "Home")</div>
    <div class="flex_item">@Html.ActionLink("Find room", "FindRoom", "Home")</div>
    <div class="flex_item">@Html.ActionLink("Show rooms", "ShowRoomList", "Home")</div>
    @{
        var user = Session["currentUser"] as TeamSignificance.Models.User;
        if (user == null)
        {
            Response.Redirect("~/Start/Login");
        }
        else
        {
            <div class="flex_item">@Html.Label(user.Nickname)</div>
        }
    }
    <div class="flex_item">@Html.ActionLink("Log out", "Logout", "Home")</div>
</div>