<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/MainStyle.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/nullstyle.css")" rel="stylesheet" type="text/css" />*@
    @RenderSection("Styles", false)
</head>
<body>
    <div class="main-wrapper">
        <div class="container body-content">
            @{
                string CurrentName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"]);
                switch (CurrentName)
                {
                    case "Start":
                        Html.RenderPartial("_HeaderStart");
                        break;
                    default:
                        Html.RenderPartial("_Header");
                        break;
                }
            }
            @RenderBody()
        </div>
        <div class="footer-content">
            @{Html.RenderPartial("_Footer");}
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
